<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <% const date = new Date(); %>
    <% const currentYear = date.getFullYear(); %>
    <% const startYear = 2025 %>
    <% if (startYear === currentYear) { %>
      <p class="col-md-4 mb-0 text-white ">© 2025 RLMP44</p>
    <% } else { %>
      <p class="col-md-4 mb-0 text-white ">© 2025-<%= currentYear %> RLMP44</p>
    <% } %>
    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none" aria-label="Bootstrap">
      <svg class="bi me-2" width="40" height="32" aria-hidden="true"><use xlink:href="#bootstrap"></use></svg>
    </a>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="/" class="nav-link text-white px-2">Home</a></li>
      <li class="nav-item"><a href="/bio" class="nav-link text-white px-2">Biography</a></li>
      <li class="nav-item"><a href="/works" class="nav-link text-white px-2">Works</a></li>
      <li class="nav-item"><a href="/contact" class="nav-link text-white px-2">Contact</a></li>    </ul>
  </footer>
</div>
