<h2>Header</h2>
<li class="nav-item">
  <a class="nav-link" href="/"><i class="far fa-copy"></i>Home</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/bio"><i class="far fa-clone"></i>Biography</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/works"><i class="far fa-calendar-alt"></i>Works</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/contact"><i class="far fa-calendar-alt"></i>Contact</a>
</li>
