<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Aaron Perry</title>
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@400;700&family=Island+Moments&family=Kalam&family=Manjari:wght@100;400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Felipa&family=Kings&display=swap" rel="stylesheet">
</head>
<body>
  <div class="header-photo-box text-secondary px-4 text-center">
    <div class="py-5">
      <h1 class="header-text text-white kings-regular">Aaron Perry</h1>
    </div>
  </div>
  <div class="header-container px-0">
    <header class="header-bar w-100 d-flex justify-content-center">
      <ul class="custom-nav nav-dark">
        <li class="nav-item nav-text kings-regular"><a href="/" class="nav-link" aria-current="page">Home</a></li>
        <li class="nav-item nav-text kings-regular"><a href="/bio" class="nav-link">Biography</a></li>
        <li class="nav-item nav-text kings-regular"><a href="/works" class="nav-link">Works</a></li>
        <li class="nav-item nav-text kings-regular"><a href="/contact" class="nav-link">Contact</a></li>
      </ul>
    </header>
  </div>
</body>
</html>
