<%- include("partials/header.ejs")  %>

<div class="container px-4 py-3">
  <h2 class="text-white">Biography</h2>
  <div class="card main-container card-cover h-100 overflow-hidden rounded-4" style="background-color: rgba(0, 0, 0, 0.5);">
    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
      <% if (locals.data) { %>
        <% locals.data.forEach((paragraph) => { %>
          <p class="text-white"><%= paragraph  %></p>
          <br>
        <% }) %>
      <% } %>
    </div>
  </div>
</div>

<%- include("partials/footer.ejs")  %>
