<%- include("partials/header.ejs")  %>

<div class="container px-4 py-3">
  <h2 class="text-white">Biography</h2>
  <div class="card card-cover h-100 overflow-hidden rounded-4 shadow-lg" style="background-color: rgba(0, 0, 0, 0.5);">
    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
      <p class="text-white"><%= locals.data  %></p>
    </div>
  </div>
</div>

<%- include("partials/footer.ejs")  %>
