<%- include("partials/header.ejs")  %>

<div class="container contact-form-container px-4 py-5 d-flex justify-content-center flex-direction-column">
  <h5 class="text-white pb-3">For inquiries, consultations, and more, feel free to send a message and Alora will do her best to get back to you in a few days!</h5>
  <div>
    <form action="/" method="POST" class="pt-3">
      <textarea type="text" name="name" placeholder="your name" class="form-input input-control"></textarea>>
      <textarea type="text" name="email" placeholder="your email" class="form-input input-control"></textarea>>
      <textarea type="text" name="message" placeholder="what would you like to contact Alora about?" class="form-content input-control"></textarea>>
      <input type="submit" value="Send message" class="main-button" style="justify-content: flex-end;">
    </form>
  </div>
</div>

<%- include("partials/footer.ejs")  %>
