<%- include("partials/header.ejs")  %>

<div class="container px-4 py-3" id="custom-cards">
  <h2 class="text-white">Get in Touch</h2>
  <div class="col row-cols-1 align-items-stretch pb-3">
    <ul>
      <li><p class="text-white">Email: emailme@email.com</p></li>
      <li><p class="text-white">Mail: 1234 Available PO Address 90834, AK, USA</p></li>
      <li><p class="text-white">Social: This and That</p></li>
    </ul>
  </div>
</div>

<%- include("partials/footer.ejs")  %>
