<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Aaron Perry</title>
  <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
  <%- include("partials/header.ejs")  %>
  <h3>body</h3>
  <% if (locals.data) { %>
    <% Object.entries(data).forEach(([title, post]) => { %>
      <h3><%= title %></h3>
      <p><%= post %></p>
    <% }); %>
  <% } %>

  <form action="/" method="POST">
    <input type="text" name="title" placeholder="Post title">
    <input type="text" name="content" placeholder="Post content">
    <input type="submit" value="OK">
  </form>

  <%- include("partials/footer.ejs")  %>
</body>
</html>
