<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Aaron Perry</title>
  <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
  <%- include("partials/header.ejs")  %>
  <h3>body</h3>

  <%- include("partials/footer.ejs")  %>
</body>
</html>
